@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  color: #333;
}

.container {
  max-width: 1154px;
  margin: 0px auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  color: #0055a5;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 43px;
  line-height: 150%;
}

h2 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
}

.header {
  background: #0055a5;
  padding: 20px 0px;
  color: #fff;
}

.header a {
  color: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu a:hover {
  color: #f05d2f;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu li {
  margin-right: 35px;
}

.header__button {
  padding: 12px 20px;
  background: #f05d2f;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__button:hover {
  background: #4bd759;
}

.intro {
  background: url("../img/intro-min.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0px;
}

.intro ul {
  max-width: 660px;
  margin: 15px auto;
  color: #0055a5;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  list-style-type: square;
}

.intro li {
  list-style-type: square;
}

.intro__rupost {
  margin: 65px auto;
  text-align: center;
  max-width: 340px;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__cz {
  background: #0093d7;
  -webkit-box-shadow: 3px 3px 0px rgba(55, 132, 249, 0.25);
          box-shadow: 3px 3px 0px rgba(55, 132, 249, 0.25);
  border-radius: 20px;
  padding: 25px;
  min-width: 360px;
  color: #fff;
  text-align: center;
}

.intro__cz.belgium {
  background: #0069b5;
}

.intro__cz.germany {
  background: #003e92;
}

.intro__cz span {
  font-weight: bold;
  line-height: 300%;
}

.intro__cz-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #ffffff;
  margin: 0px 0px 10px 0px;
}

.intro__flag {
  width: 36px;
  margin: 10px 20px 10px 0;
}

.intro__title {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.intro__ves {
  margin: 0px 0px 20px 0px;
  padding: 10px;
  width: 60px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  text-align: center;
}

.intro__radio input {
  margin: 0px 0px 0px 20px;
}

.intro__butt {
  margin: 10px 0px;
  background: #4bd759;
  border-radius: 50px;
  padding: 17px 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.intro__butt:hover {
  background: #f05d2f;
}

.order {
  background: #0055a5;
  padding: 70px 0px 80px 0px;
}

.order p {
  color: #fff;
  text-align: center;
}

.order p a {
  color: #fff;
  text-decoration: underline;
}

.order__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.order__title img {
  margin: 0px 20px 0px 0px;
}

.order__dash {
  padding: 8px;
  border: 1px dashed #ffffff;
  margin: 20px 0px 15px 0px;
}

.order__win {
  background: #fff;
  padding: 30px 40px;
  text-align: center;
}

.order__win span {
  color: red;
}

.order__win input {
  border: 1px solid #0055a5;
  padding: 9px 18px;
  margin: 10px 0px 0px 0px;
}

.order__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__from {
  width: 50%;
  padding: 0px 20px;
  margin: 0px 0px 35px 0px;
}

.order__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0055a5;
  border-bottom: solid 1px #0055a5;
  padding: 10px;
  margin: 0 20px;
}

.order__countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 25px -30px;
}

.order__countries img {
  margin: 0px 10px;
}

.order__countries input {
  margin: 0px 0px 0px 30px;
}

.order__address {
  width: 396px;
}

.order__to {
  width: 50%;
  position: relative;
  padding: 0px 20px;
}

.order__to::before {
  content: "";
  position: absolute;
  left: 0;
  top: 145px;
  border: 1px dashed #0055a5;
  width: 0px;
  height: 289px;
}

.order__button {
  background: #0055a5;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 20px 0px;
  width: 340px;
  margin: 5px auto;
}

.order__button:hover {
  background: #f05d2f;
}

.about {
  padding: 130px 0px 170px 0px;
}

.about img {
  margin: 15px;
}

.about__wrapper {
  padding: 0px 0px 0px 70px;
}

.about__title h2 {
  color: #0055a5;
}

.about ul {
  font-weight: 500;
  font-size: 18px;
}

.about li {
  margin: 30px 20px;
  list-style-type: square;
}

.faq {
  text-align: center;
  background: #f2f2f2;
  padding: 80px 0px 100px 0px;
}

.faq a {
  color: #0055a5;
  text-decoration: underline;
}

.faq p {
  text-align: justify;
  margin: 0px 20px;
}

.faq .ui-accordion-header {
  position: relative;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 0px;
  margin: 20px 0px 10px 0px;
}

.faq .ui-accordion-header.ui-state-active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 37px;
}

.faq .ui-accordion-header::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
  top: 30px;
  border-top: 3px solid #f05d2f;
  border-right: 3px solid #f05d2f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.faq .ui-accordion-header::before .ui-state-active {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.faq__title {
  color: #0055a5;
  margin: 0px 0px 50px 0px;
}

.faq__items {
  max-width: 750px;
  margin: 0px auto;
}

.feedback {
  text-align: center;
  padding: 80px 0px;
}

.feedback img {
  margin: 0px 12px;
}

.feedback h2 {
  color: #0055a5;
}

.feedback__buttons {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background: #0055a5;
  padding: 50px 0px 25px 0px;
  color: #fff;
  text-align: center;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer li {
  margin: 0px 35px 0px 0px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #ffffff;
  padding: 0px 0px 40px 0px;
}
