@import "_nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 150%;
   color: #333;
}
.container {
   max-width: 1154px;
   margin: 0px auto;
}
.row {
   display: flex;
}
h1 {
   color: #0055a5;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 43px;
   line-height: 150%;
}
h2 {
   letter-spacing: 0.05em;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 36px;
   line-height: 150%;
}

$accent: #0055a5;
$orange: #f05d2f;
$green: #4bd759;

.header {
   background: #0055a5;
   padding: 20px 0px;
   color: #fff;

   & a {
      color: #fff;
   }
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
   }

   &__menu {
      & a:hover {
         color: $orange;
      }
      & ul {
         display: flex;
      }
      & li {
         margin-right: 35px;
      }
   }

   &__button {
      padding: 12px 20px;
      background: $orange;
      border-radius: 50px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
         background: $green;
      }
   }
}
.intro {
   background: url("../img/intro-min.jpg") center center no-repeat;
   background-size: cover;
   padding: 80px 0px;
   & ul {
      max-width: 660px;
      margin: 15px auto;
      color: $accent;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      list-style-type: square;
   }
   & li {
      list-style-type: square;
   }
   &__rupost {
      margin: 65px auto;
      text-align: center;
      max-width: 340px;
      font-weight: 500;
      font-size: 18px;
      line-height: 50px;
   }
   &__wrap {
   }

   &__row {
      display: flex;
      justify-content: space-between;
   }

   &__cz {
      background: #0093d7;
      box-shadow: 3px 3px 0px rgba(55, 132, 249, 0.25);
      border-radius: 20px;
      padding: 25px;
      min-width: 360px;
      color: #fff;
      text-align: center;
      &.belgium {
         background: #0069b5;
      }
      &.germany {
         background: #003e92;
      }
      & span {
         font-weight: bold;
         line-height: 300%;
      }
   }

   &__cz-row {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      border-bottom: 1px solid #ffffff;
      margin: 0px 0px 10px 0px;
   }

   &__flag {
      width: 36px;
      margin: 10px 20px 10px 0;
   }

   &__title {
      font-weight: 500;
      font-size: 24px;
      color: #fff;
   }

   &__ves {
      margin: 0px 0px 20px 0px;
      padding: 10px;
      width: 60px;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      text-align: center;
   }

   &__radio input {
      margin: 0px 0px 0px 20px;
   }

   &__butt {
      margin: 10px 0px;
      background: $green;
      border-radius: 50px;
      padding: 17px 30px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      &:hover {
         background: $orange;
      }
   }
}
.order {
   background: $accent;
   padding: 70px 0px 80px 0px;

   & p {
      color: #fff;
      text-align: center;
      & a {
         color: #fff;
         text-decoration: underline;
      }
   }
   &__title {
      display: flex;
      justify-content: center;
      color: #fff;
      & img {
         margin: 0px 20px 0px 0px;
      }
   }
   &__dash {
      padding: 8px;
      border: 1px dashed #ffffff;
      margin: 20px 0px 15px 0px;
   }
   &__win {
      background: #fff;
      padding: 30px 40px;
      text-align: center;

      & span {
         color: red;
      }

      & input {
         border: 1px solid $accent;
         padding: 9px 18px;
         margin: 10px 0px 0px 0px;
      }
   }

   &__wrapp {
      display: flex;
   }

   &__from {
      width: 50%;
      padding: 0px 20px;
      margin: 0px 0px 35px 0px;
   }

   &__subtitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $accent;
      border-bottom: solid 1px $accent;
      padding: 10px;
      margin: 0 20px;
   }

   &__countries {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0px 25px -30px;
      & img {
         margin: 0px 10px;
      }
      & input {
         margin: 0px 0px 0px 30px;
      }
   }

   &__city {
   }

   &__postcode {
   }

   &__address {
      width: 396px;
   }

   &__surname {
   }

   &__name {
   }

   &__tel {
   }

   &__mail {
   }

   &__weight {
   }

   &__length {
   }

   &__width {
   }

   &__height {
   }

   &__to {
      width: 50%;
      position: relative;
      padding: 0px 20px;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 145px;
         border: 1px dashed #0055a5;
         width: 0px;
         height: 289px;
      }
   }

   &__button {
      background: $accent;
      border-radius: 5px;
      color: #fff;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      padding: 20px 0px;
      width: 340px;
      margin: 5px auto;
      &:hover {
         background: $orange;
      }
   }
}
.about {
   padding: 130px 0px 170px 0px;
   & img {
      margin: 15px;
   }

   &__wrapper {
      padding: 0px 0px 0px 70px;
   }

   &__title {
      & h2 {
         color: $accent;
      }
   }
   & ul {
      font-weight: 500;
      font-size: 18px;
   }
   & li {
      margin: 30px 20px;
      list-style-type: square;
   }
}
.faq {
   text-align: center;

   background: #f2f2f2;
   padding: 80px 0px 100px 0px;
   & a {
      color: $accent;
      text-decoration: underline;
   }
   & p {
      text-align: justify;
      margin: 0px 20px;
   }
   & h3 {
      position: relative;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: bold;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 30px 0px;
      margin: 20px 0px 10px 0px;
      &::before {
         content: "";
         position: absolute;
         width: 15px;
         height: 15px;
         left: 20px;
         top: 30px;
         border: 3px solid $orange;
         box-sizing: border-box;
         transform: rotate(-135deg);
      }
   }
   &__title {
      color: $accent;
      margin: 0px 0px 50px 0px;
   }

   &__items {
      max-width: 750px;
      margin: 0px auto;
   }
}
.feedback {
   text-align: center;
   padding: 80px 0px;
   & img {
      margin: 0px 12px;
   }
   & h2 {
      color: $accent;
   }

   &__buttons {
      margin: 20px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.footer {
   background: $accent;
   padding: 50px 0px 25px 0px;
   color: #fff;
   text-align: center;
   & ul {
      display: flex;
   }
   & li {
      margin: 0px 35px 0px 0px;
   }
   & a {
      color: #fff;
   }
   & a:hover {
      text-decoration: underline;
   }
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 0px 20px 0px;
      border-bottom: 1px solid #ffffff;
      padding: 0px 0px 40px 0px;
   }

   &__menu {
   }
}
