@import "_nullstyle";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 150%;
   color: #333;
}
.container {
   max-width: 1154px;
   margin: 0px auto;
}
.row {
   display: flex;
}
h1 {
   color: #0055a5;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 43px;
   line-height: 150%;
}
h2 {
   letter-spacing: 0.05em;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 36px;
   line-height: 150%;
}

$accent: #0055a5;
$orange: #f05d2f;
$green: #4bd759;

.header {
   background: #0055a5;
   padding: 20px 0px;
   color: #fff;

   & a {
      color: #fff;
   }
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
   }

   &__menu {
      & a:hover {
         color: $orange;
      }
      & ul {
         display: flex;
      }
      & li {
         margin-right: 35px;
      }
   }

   &__button {
      padding: 12px 20px;
      background: $orange;
      border-radius: 50px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
         background: $green;
      }
   }
}
.intro {
   background: url("img/intro-min.jpg") center center no-repeat;
   background-size: cover;
   padding: 80px 0px;
   & ul {
      max-width: 660px;
      margin: 15px auto;
      color: $accent;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      list-style-type: square;
   }
   & li {
      list-style-type: square;
   }
   &__rupost {
      margin: 65px auto;
      text-align: center;
      max-width: 340px;
      font-weight: 500;
      font-size: 18px;
      line-height: 50px;
   }
   &__wrap {
   }

   &__row {
      display: flex;
      justify-content: space-between;
   }

   &__cz {
      background: #0093d7;
      box-shadow: 3px 3px 0px rgba(55, 132, 249, 0.25);
      border-radius: 20px;
      padding: 25px;
      min-width: 360px;
      color: #fff;
      text-align: center;
      &.belgium {
         background: #0069b5;
      }
      &.germany {
         background: #003e92;
      }
      & span {
         font-weight: bold;
         line-height: 300%;
      }
   }

   &__cz-row {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      border-bottom: 1px solid #ffffff;
      margin: 0px 0px 10px 0px;
   }

   &__flag {
      width: 36px;
      margin: 10px 20px 10px 0;
   }

   &__title {
      font-weight: 500;
      font-size: 24px;
      color: #fff;
   }

   &__ves {
      margin: 0px 0px 20px 0px;
      padding: 10px;
      width: 60px;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
      text-align: center;
   }

   &__radio input {
      margin: 0px 0px 0px 20px;
   }

   &__butt {
      margin: 10px 0px;
      background: $green;
      border-radius: 50px;
      padding: 17px 30px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      cursor: pointer;
      &:hover {
         background: $orange;
      }
   }
}
.order {
   background: $accent;
   padding: 70px 0px 80px 0px;

   & p {
      color: #fff;
      text-align: center;
      & a {
         color: #fff;
         text-decoration: underline;
      }
   }
   &__title {
      display: flex;
      justify-content: center;
      color: #fff;
      & img {
         margin: 0px 20px 0px 0px;
      }
   }
   &__dash {
      padding: 8px;
      border: 1px dashed #ffffff;
      margin: 20px 0px 15px 0px;
   }
   &__win {
      background: #fff;
      padding: 30px 40px;
      text-align: center;

      & span {
         color: red;
      }

      & input {
         border: 1px solid $accent;
         padding: 9px 18px;
         margin: 10px 0px 0px 0px;
      }
   }

   &__wrapp {
      display: flex;
   }

   &__from {
      width: 50%;
      padding: 0px 20px;
      margin: 0px 0px 35px 0px;
   }

   &__subtitle {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $accent;
      border-bottom: solid 1px $accent;
      padding: 10px;
      margin: 0 20px;
   }

   &__countries {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0px 25px -30px;
      & img {
         margin: 0px 10px;
      }
      & input {
         margin: 0px 0px 0px 30px;
      }
   }

   &__city {
   }

   &__postcode {
   }

   &__address {
      width: 396px;
   }

   &__surname {
   }

   &__name {
   }

   &__tel {
   }

   &__mail {
   }

   &__weight {
   }

   &__length {
   }

   &__width {
   }

   &__height {
   }

   &__to {
      width: 50%;
      position: relative;
      padding: 0px 20px;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 145px;
         border: 1px dashed #0055a5;
         width: 0px;
         height: 289px;
      }
   }

   &__button {
      background: $accent;
      border-radius: 5px;
      color: #fff;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      padding: 20px 0px;
      width: 340px;
      margin: 5px auto;
      cursor: pointer;
      &:hover {
         background: $orange;
      }
   }
}
.about {
   padding: 130px 0px 170px 0px;
   & img {
      margin: 15px;
   }

   &__wrapper {
      padding: 0px 0px 0px 70px;
   }

   &__title {
      & h2 {
         color: $accent;
      }
   }
   & ul {
      font-weight: 500;
      font-size: 18px;
   }
   & li {
      margin: 30px 20px;
      list-style-type: square;
   }
}
.faq {
   text-align: center;

   background: #f2f2f2;
   padding: 80px 0px 100px 0px;
   & a {
      color: $accent;
      text-decoration: underline;
   }
   & p {
      text-align: justify;
      margin: 0px 20px;
   }
   & .ui-accordion-header {
      cursor: pointer;
      position: relative;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: bold;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 30px 0px;
      margin: 20px 0px 10px 0px;

      &.ui-state-active {
         &::before {
            transform: rotate(-45deg);
            top: 37px;
         }
      }

      &::before {
         content: "";
         position: absolute;
         width: 15px;
         height: 15px;
         left: 20px;
         top: 30px;
         border-top: 3px solid $orange;
         border-right: 3px solid $orange;
         box-sizing: border-box;
         transform: rotate(-225deg);
         & .ui-state-active {
            transform: rotate(-135deg);
         }
      }
   }
   &__title {
      color: $accent;
      margin: 0px 0px 50px 0px;
   }

   &__items {
      max-width: 750px;
      margin: 0px auto;
   }
}
.feedback {
   text-align: center;
   padding: 80px 0px;
   & img {
      margin: 0px 12px;
   }
   & h2 {
      color: $accent;
   }

   &__buttons {
      margin: 20px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.footer {
   background: $accent;
   padding: 50px 0px 25px 0px;
   color: #fff;
   text-align: center;
   & ul {
      display: flex;
   }
   & li {
      margin: 0px 35px 0px 0px;
   }
   & a {
      color: #fff;
   }
   & a:hover {
      text-decoration: underline;
   }
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 0px 20px 0px;
      border-bottom: 1px solid #ffffff;
      padding: 0px 0px 40px 0px;
   }

   &__menu {
   }
}
.entry-header {
   margin: 30px 0px 10px 0px;
}
.entry-content {
}
.page {
   min-height: calc(100vh - 311px);
   padding: 0px 0px 50px 0px;
}
.alignnone {
   margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
   display: block;
   margin: 5px auto 5px auto;
}

.alignright {
   float: right;
   margin: 5px 0 20px 20px;
}

.alignleft {
   float: left;
   margin: 5px 20px 20px 0;
}

a img.alignright {
   float: right;
   margin: 5px 0 20px 20px;
}

a img.alignnone {
   margin: 5px 20px 20px 0;
}

a img.alignleft {
   float: left;
   margin: 5px 20px 20px 0;
}

a img.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.wp-caption {
   background: #fff;
   border: 1px solid #f0f0f0;
   max-width: 96%;
   padding: 5px 3px 10px;
   text-align: center;
}

.wp-caption.alignnone {
   margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
   margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
   margin: 5px 0 20px 20px;
}

.wp-caption img {
   border: 0 none;
   height: auto;
   margin: 0;
   max-width: 98.5%;
   padding: 0;
   width: auto;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   margin: 0;
   padding: 0 4px 5px;
}

.screen-reader-text {
   border: 0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute !important;
   width: 1px;
   word-wrap: normal !important;
}

.screen-reader-text:focus {
   background-color: #eee;
   clip: auto !important;
   clip-path: none;
   color: #444;
   display: block;
   font-size: 1em;
   height: auto;
   left: 5px;
   line-height: normal;
   padding: 15px 23px 14px;
   text-decoration: none;
   top: 5px;
   width: auto;
   z-index: 100000;
}

.gallery-caption {
   display: block;
}

.bypostauthor {
   display: block;
}

// для mailer
.wrapper {
   background: #333;
}
.form {
   max-width: 550px;
   margin: 0px auto;
   color: #fff;
   padding: 30px 0;
}

.form * {
   outline: none;
}

.form__body {
   position: relative;
}
.form__body::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s ease 0s;
}
.form__body._sending::after {
   opacity: 1;
   visibility: visible;
}

.form__title {
   font-size: 40px;
   font-weight: 700;
   margin: 0px 0px 30px 0px;
}
.form__item {
   margin: 0px 0px 20px 0px;
}
.form__label {
   font-size: 18px;
   display: block;
   margin: 0px 0px 10px 0px;
}
.form__input {
   height: 50px;
   padding: 0px 20px;
   border-radius: 5px;
   width: 100%;
   font-size: 18px;
   transition: all 0.5s ease 0s;
}

.form__input:focus {
   box-shadow: 0 0 15px #7a956b;
}
.form__input._error {
   box-shadow: 0 0 15px red;
}

textarea.form__input {
   min-height: 120px;
   resize: vertical;
   padding: 20px;
}

.options {
   padding: 10px 0px 0px 0px;
}
.options__item {
   margin: 0px 0px 10px 0px;
}
.options__input {
   display: none;
}

.options__input:checked + .options__label::after {
   transform: scale(1);
}

.options__label {
   display: inline-flex;
   font-size: 16px;
   line-height: 140%;
   align-items: center;
   position: relative;
   cursor: pointer;
}
.options__label::before {
   content: "";
   align-self: flex-start;
   flex: 0 0 24px;
   height: 24px;
   background-color: #fff;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
}
.options__label::after {
   transition: transform 0.5s ease 0s;
   content: "";
   position: absolute;
   top: 4px;
   left: 4px;
   width: 16px;
   height: 16px;
   background-color: #7a956b;
   border-radius: 50%;
   transform: scale(0);
}

.file {
}

.file__item {
   position: relative;
}
.file__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   font-size: 0;
   cursor: pointer;
}
.file__button {
   display: inline-flex;
   min-height: 40px;
   border-radius: 30px;
   justify-content: center;
   align-items: center;
   background-color: #77608d;
   padding: 0px 20px;
}
.file__preview {
   display: inline-block;
   max-width: 100px;
   padding: 10px 0px 0px 0px;
}
.file__preview img {
   max-width: 100%;
}

.checkbox {
}
.checkbox._error .checkbox__label::before {
   box-shadow: 0 0 15px red;
}
.checkbox__input {
   display: none;
}
.checkbox__input:checked + .checkbox__label::after {
   transform: scale(1);
}

.checkbox__label {
   font-size: 16px;
   line-height: 140%;
   display: inline-flex;
   align-items: center;
   position: relative;
   cursor: pointer;
}

.checkbox__label::before {
   content: "";
   align-self: flex-start;
   flex: 0 0 24px;
   height: 24px;
   background-color: #fff;
   border-radius: 4px;
   margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
   transition: transform 0.5s ease 0s;
   content: "";
   width: 16px;
   height: 16px;
   position: absolute;
   top: 4px;
   left: 4px;
   background-color: #7a956b;
   border-radius: 4px;
   transform: scale(0);
}

.checkbox__label a {
   color: #7a956b;
}

.form__button {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 60px;
   background-color: #7a956b;
   color: #fff;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 700;
   cursor: pointer;
   border-radius: 20px;
   box-shadow: 0 5px 0 #161b13;
   transition: background-color 0.5s ease 0s;
   position: relative;
   top: 0;
}
.form__button:hover {
   background-color: #4f6146;
}
.form__button:active {
   top: 3px;
   box-shadow: 0 2px 0 #161b13;
}
