@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 150%;
  color: #333;
}

.container {
  max-width: 1154px;
  margin: 0px auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  color: #0055a5;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 43px;
  line-height: 150%;
}

h2 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
}

.header {
  background: #0055a5;
  padding: 20px 0px;
  color: #fff;
}

.header a {
  color: #fff;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu a:hover {
  color: #f05d2f;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu li {
  margin-right: 35px;
}

.header__button {
  padding: 12px 20px;
  background: #f05d2f;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__button:hover {
  background: #4bd759;
}

.intro {
  background: url("img/intro-min.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0px;
}

.intro ul {
  max-width: 660px;
  margin: 15px auto;
  color: #0055a5;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  list-style-type: square;
}

.intro li {
  list-style-type: square;
}

.intro__rupost {
  margin: 65px auto;
  text-align: center;
  max-width: 340px;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
}

.intro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.intro__cz {
  background: #0093d7;
  -webkit-box-shadow: 3px 3px 0px rgba(55, 132, 249, 0.25);
  box-shadow: 3px 3px 0px rgba(55, 132, 249, 0.25);
  border-radius: 20px;
  padding: 25px;
  min-width: 360px;
  color: #fff;
  text-align: center;
}

.intro__cz.belgium {
  background: #0069b5;
}

.intro__cz.germany {
  background: #003e92;
}

.intro__cz span {
  font-weight: bold;
  line-height: 300%;
}

.intro__cz-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-bottom: 1px solid #ffffff;
  margin: 0px 0px 10px 0px;
}

.intro__flag {
  width: 36px;
  margin: 10px 20px 10px 0;
}

.intro__title {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.intro__ves {
  margin: 0px 0px 20px 0px;
  padding: 10px;
  width: 60px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  text-align: center;
}

.intro__radio input {
  margin: 0px 0px 0px 20px;
}

.intro__butt {
  margin: 10px 0px;
  background: #4bd759;
  border-radius: 50px;
  padding: 17px 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.intro__butt:hover {
  background: #f05d2f;
}

.order {
  background: #0055a5;
  padding: 70px 0px 80px 0px;
}

.order p {
  color: #fff;
  text-align: center;
}

.order p a {
  color: #fff;
  text-decoration: underline;
}

.order__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}

.order__title img {
  margin: 0px 20px 0px 0px;
}

.order__dash {
  padding: 8px;
  border: 1px dashed #ffffff;
  margin: 20px 0px 15px 0px;
}

.order__win {
  background: #fff;
  padding: 30px 40px;
  text-align: center;
}

.order__win span {
  color: red;
}

.order__win input {
  border: 1px solid #0055a5;
  padding: 9px 18px;
  margin: 10px 0px 0px 0px;
}

.order__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__from {
  width: 50%;
  padding: 0px 20px;
  margin: 0px 0px 35px 0px;
}

.order__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0055a5;
  border-bottom: solid 1px #0055a5;
  padding: 10px;
  margin: 0 20px;
}

.order__countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px 0px 25px -30px;
}

.order__countries img {
  margin: 0px 10px;
}

.order__countries input {
  margin: 0px 0px 0px 30px;
}

.order__address {
  width: 396px;
}

.order__to {
  width: 50%;
  position: relative;
  padding: 0px 20px;
}

.order__to::before {
  content: "";
  position: absolute;
  left: 0;
  top: 145px;
  border: 1px dashed #0055a5;
  width: 0px;
  height: 289px;
}

.order__button {
  background: #0055a5;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 20px 0px;
  width: 340px;
  margin: 5px auto;
  cursor: pointer;
}

.order__button:hover {
  background: #f05d2f;
}

.about {
  padding: 130px 0px 170px 0px;
}

.about img {
  margin: 15px;
}

.about__wrapper {
  padding: 0px 0px 0px 70px;
}

.about__title h2 {
  color: #0055a5;
}

.about ul {
  font-weight: 500;
  font-size: 18px;
}

.about li {
  margin: 30px 20px;
  list-style-type: square;
}

.faq {
  text-align: center;
  background: #f2f2f2;
  padding: 80px 0px 100px 0px;
}

.faq a {
  color: #0055a5;
  text-decoration: underline;
}

.faq p {
  text-align: justify;
  margin: 0px 20px;
}

.faq .ui-accordion-header {
  cursor: pointer;
  position: relative;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: bold;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 0px;
  margin: 20px 0px 10px 0px;
}

.faq .ui-accordion-header.ui-state-active::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 37px;
}

.faq .ui-accordion-header::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
  top: 30px;
  border-top: 3px solid #f05d2f;
  border-right: 3px solid #f05d2f;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.faq .ui-accordion-header::before .ui-state-active {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.faq__title {
  color: #0055a5;
  margin: 0px 0px 50px 0px;
}

.faq__items {
  max-width: 750px;
  margin: 0px auto;
}

.feedback {
  text-align: center;
  padding: 80px 0px;
}

.feedback img {
  margin: 0px 12px;
}

.feedback h2 {
  color: #0055a5;
}

.feedback__buttons {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  background: #0055a5;
  padding: 50px 0px 25px 0px;
  color: #fff;
  text-align: center;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer li {
  margin: 0px 35px 0px 0px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid #ffffff;
  padding: 0px 0px 40px 0px;
}

.entry-header {
  margin: 30px 0px 10px 0px;
}

.page {
  min-height: calc(100vh - 311px);
  padding: 0px 0px 50px 0px;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.gallery-caption {
  display: block;
}

.bypostauthor {
  display: block;
}

.wrapper {
  background: #333;
}

.form {
  max-width: 550px;
  margin: 0px auto;
  color: #fff;
  padding: 30px 0;
}

.form * {
  outline: none;
}

.form__body {
  position: relative;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}

.form__item {
  margin: 0px 0px 20px 0px;
}

.form__label {
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}

.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #7a956b;
  box-shadow: 0 0 15px #7a956b;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.options {
  padding: 10px 0px 0px 0px;
}

.options__item {
  margin: 0px 0px 10px 0px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.options__label::before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.options__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #7a956b;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.file__item {
  position: relative;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #77608d;
  padding: 0px 20px;
}

.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0px 0px 0px;
}

.file__preview img {
  max-width: 100%;
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.checkbox__label::after {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #7a956b;
  border-radius: 4px;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.checkbox__label a {
  color: #7a956b;
}

.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 60px;
  background-color: #7a956b;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 0 #161b13;
  box-shadow: 0 5px 0 #161b13;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
}

.form__button:hover {
  background-color: #4f6146;
}

.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0 2px 0 #161b13;
  box-shadow: 0 2px 0 #161b13;
}

#add_feedback {
  margin: 20px 0 0;
  position: relative;
}

#art_height,
#art_width,
#art_length,
#art_weight,
#art_name,
#art_adres,
#art_city,
#art_postcode,
#art_tel,
#art_sname,
#art_email,
#art_subject,
#art_comments,
#art_city_out,
#art_postcode_out,
#art_address_out,
#art_surname_out,
#art_name_out,
#art_tel_out {
  padding: 10px 5px;
  display: inline-block;
  width: 49.548%;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 0.9em;
}

#art_subject {
  width: 100%;
  margin: 5px 0;
}

#art_comments {
  width: 100%;
}

#add_feedback .button {
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 1em;
  display: inherit;
  margin: 30px auto;
  border-radius: 3px;
  background-color: #2f94ce;
}

#add_feedback input[type="text"]:focus,
#add_feedback input[type="password"]:focus,
#add_feedback input[type="email"]:focus,
#add_feedback textarea:focus {
  color: #444;
  box-shadow: 0 0 3px rgba(68, 68, 68, 0.2);
}

.error-text {
  background: #f59e9e;
  padding: 15px 0px;
  text-align: center;
  color: #fff;
}

.error-name,
.error-email,
.error-comments {
  display: inline-block;
  font-size: 11px;
  position: absolute;
  top: -30px;
  color: white;
  border: 1px solid red;
  padding: 5px 10px;
  line-height: 1.1;
  background: red;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
}

.error-name:after,
.error-email:after,
.error-comments:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -10px;
  border: 5px solid transparent;
  border-top: 5px solid red;
}

.error-comments {
  top: 16%;
  left: 0;
}

.error-name {
  left: 0;
}

.error-email {
  right: 4%;
}

.message-success {
  background: rgba(0, 128, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  border-radius: 3px;
}

#add_feedback .error {
  border: 1px solid red;
}

#add_feedback .required:after {
  content: "*";
  position: absolute;
  left: 20px;
  bottom: -10px;
}

#art_city:focus::-moz-placeholder,
#art_city:focus:-moz-placeholder,
#art_city:focus:-ms-input-placeholder,
#art_name:focus::-moz-placeholder,
#art_name:focus:-moz-placeholder,
#art_name:focus:-ms-input-placeholder,
#art_email:focus::-webkit-input-placeholder,
#art_email:focus::-moz-placeholder,
#art_email:focus:-moz-placeholder,
#art_email:focus:-ms-input-placeholder,
#art_comments:focus::-webkit-input-placeholder,
#art_comments:focus::-moz-placeholder,
#art_comments:focus:-moz-placeholder,
#art_comments:focus:-ms-input-placeholder,
#art_subject:focus::-webkit-input-placeholder,
#art_subject:focus::-moz-placeholder,
#art_subject:focus:-moz-placeholder,
#art_subject:focus:-ms-input-placeholder {
  color: transparent;
}

#art_weight {
  width: 20%;
  font-size: 20px;
  text-align: center;
}
#art_width,
#art_length,
#art_height {
  width: 32%;
}
#art_adres,
#art_address_out {
  width: 100%;
}
